/*
 * Tomkey Keyboard Keymap Configuration
 *
 * このファイルはTomkeyキーボードのキーマップ設定です。
 *
 * レイヤー構成:
 * - Layer 0: default_layer - 基本レイヤー
 * - Layer 1-5: Windows用レイアウトグループ
 *   - Layer 1: SCROLL - スクロール操作レイヤー
 *   - Layer 2: CTROL - コントロールレイヤー
 *   - Layer 3: NUMBER - 数字入力レイヤー
 *   - Layer 4: FUNCTION - ファンクションキーレイヤー
 *   - Layer 5: markdw - マークダウン編集レイヤー
 * - Layer 6: win_layer - Windows用標準QWERTYレイヤー
 * - Layer 7: mac_layer - Mac用レイヤー（Cmd+A、Cmd+S等のMac標準キー付き）
 *
 * カスタムマクロ:
 * - switch_to_win_bt: Bluetooth切断 → Windowsデバイス(0)接続
 * - switch_to_win_layer: Windows用レイヤー(6)をアクティブ
 * - switch_to_mac_bt: Bluetooth切断 → Macデバイス(1)接続
 * - switch_to_mac_layer: Mac用レイヤー(7)をアクティブ
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        // カスタムマクロ: OS切り替え用
        // Windows用Bluetooth切り替え（デバイス0に接続）

        switch_to_win_bt: switch_to_win_bt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&bt BT_DISC 0>,
                <&macro_release>,
                <&bt BT_DISC 0>,
                <&macro_press>,
                <&bt BT_SEL 0>,
                <&macro_release>,
                <&bt BT_SEL 0>;
        };

        // Windows用レイヤー切り替え（レイヤー6をアクティブ）
        switch_to_win_layer: switch_to_win_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&mo 6>, <&macro_release>, <&mo 6>;
        };

        // Mac用Bluetooth切り替え（デバイス1に接続）

        switch_to_mac_bt: switch_to_mac_bt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&bt BT_DISC 1>,
                <&macro_release>,
                <&bt BT_DISC 1>,
                <&macro_press>,
                <&bt BT_SEL 1>,
                <&macro_release>,
                <&bt BT_SEL 1>;
        };

        // Mac用レイヤー切り替え（レイヤー7をアクティブ、Mac標準キー付き）

        switch_to_mac_layer: switch_to_mac_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&mo 7>, <&macro_release>, <&mo 7>;
        };
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt 1 Q           &kp W         &kp E             &kp R           &kp T                                                 &kp Y        &kp U  &kp I     &kp O     &lt 4 P
&kp A             &kp S         &kp D             &kp F           &kp G        &mo 5                 &kp BACKSLASH      &kp H        &kp J  &kp K     &kp L     &lt 2 ENTER
&mt LEFT_SHIFT Z  &kp X         &kp C             &kp V           &kp B        &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &kp N        &kp M  &mkp MB2  &mkp MB1  &lt 1 SLASH
&mo 2             &kp LEFT_ALT  &kp LEFT_COMMAND  &kp LEFT_SHIFT  &lt 3 SPACE  &kp LA(SPACE)         &kp BACKSPACE      &lt 2 ENTER                             &lt 4 ESCAPE
            >;
        };

        SCROLL {
            // Windows用レイアウトグループ - Layer 1: スクロール操作レイヤー
            bindings = <
&trans  &trans  &trans  &trans  &trans                                                  &kp LG(A)      &kp LG(W)       &trans          &kp LG(T)        &kp MINUS
&trans  &trans  &trans  &trans  &trans               &kp LG(F)               &kp LG(C)  &kp LS(LG(V))  &trans          &kp UP_ARROW    &trans           &kp LA(L)
&trans  &trans  &trans  &trans  &trans               &trans                  &kp LG(C)  &kp LG(V)      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LG(Y)
&trans  &trans  &trans  &trans  &kp LC(RIGHT_ARROW)  &kp LC(LEFT_ARROW)      &kp LANG2  &kp LANG1                                                       &kp LG(Z)
            >;
        };

        CTROL {
            // Windows用レイアウトグループ - Layer 2: コントロールレイヤー
            bindings = <
&kp LEFT_BRACE  &kp LS(N1)  &kp LS(FSLH)  &trans     &kp LC(T)                                &trans  &trans  &trans  &trans  &trans
&kp APOS        &trans      &trans        &kp LC(D)  &kp LC(F)  &kp LC(LS(V))      &kp LC(A)  &trans  &trans  &trans  &trans  &trans
&trans          &trans      &trans        &kp LC(X)  &kp LC(V)  &trans             &kp LC(A)  &trans  &trans  &trans  &trans  &trans
&trans          &trans      &trans        &kp LC(X)  &kp LC(C)  &kp LC(V)          &kp LC(N)  &trans                          &trans
            >;
        };

        NUMBER {
            // Windows用レイアウトグループ - Layer 3: 数字入力レイヤー
            bindings = <
&kp N1  &kp N2     &kp N3   &kp LS(NUMBER_8)  &kp LS(N9)                              &kp LS(SLASH)     &trans  &trans  &kp SLASH  &kp SEMICOLON
&kp N4  &kp N5     &kp N6   &trans            &trans      &trans      &kp LEFT_BRACE  &kp LS(NUMBER_1)  &trans  &trans  &trans     &kp SQT
&kp N7  &kp N8     &kp N9   &trans            &trans      &trans      &trans          &kp LEFT_SHIFT    &trans  &trans  &trans     &trans
&kp N0  &kp COMMA  &kp DOT  &kp MINUS         &trans      &trans      &trans          &trans                                       &trans
            >;
        };

        FUNCTION {
            // Windows用レイアウトグループ - Layer 4: ファンクションキーレイヤー
            bindings = <
&kp SEMI              &kp APOS              &kp LGUI         &trans        &bootloader                                           &bootloader           &trans  &trans  &trans  &trans
&kp N1                &trans                &trans           &trans        &trans         &bt BT_CLR_ALL      &trans             &trans                &trans  &trans  &trans  &trans
&kp RIGHT             &kp LEFT              &trans           &trans        &bt BT_DISC 0  &bt BT_SEL 0        &switch_to_win_bt  &switch_to_win_layer  &trans  &trans  &trans  &trans
&kp C_BRIGHTNESS_INC  &kp C_BRIGHTNESS_DEC  &kp C_VOLUME_UP  &kp C_VOL_DN  &bt BT_DISC 1  &bt BT_SEL 1        &switch_to_mac_bt  &switch_to_mac_layer                          &trans
            >;
        };

        markdw {
            // Windows用レイアウトグループ - Layer 5: マークダウン編集レイヤー
            bindings = <
&trans  &trans  &trans  &trans     &trans                            &kp LG(NUMBER_3)  &kp LG(NUMBER_2)  &kp LG(NUMBER_1)  &trans  &trans
&trans  &trans  &trans  &trans     &trans  &trans         &kp LA(D)  &kp LA(T)         &trans            &kp LA(U)         &trans  &trans
&trans  &trans  &trans  &trans     &trans  &kp LC(I)      &kp LA(H)  &kp LA(C)         &trans            &kp LA(S)         &trans  &trans
&trans  &trans  &trans  &kp LC(V)  &trans  &kp LC(B)      &kp LA(L)  &kp LA(K)                                                     &trans
            >;
        };

        win_layer {
            // Windows用レイヤー（レイヤー6）
            // 標準QWERTY配列
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5                                           &mo 0  &mo 1  &mo 2  &kp N9         &kp N0
&kp Q   &kp W   &kp E   &kp R   &kp T   &trans                &kp Y              &kp U  &kp I  &kp O  &kp P          &kp BACKSLASH
&kp A   &kp S   &kp D   &kp F   &kp G   &trans                &kp H              &kp J  &kp K  &kp L  &kp SEMICOLON  &kp APOS
&kp Z   &kp X   &kp C   &kp V   &kp B   &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &kp N                               &kp M
            >;
        };

        mac_layer {
            // Mac用レイヤー（レイヤー7）
            // Mac標準キー付き（Cmd+A、Cmd+S、Cmd+Z等）
            bindings = <
&kp N1     &kp N2     &kp N3     &kp N4     &kp N5                                              &mo 0      &mo 1      &mo 2      &kp N9             &kp N0
&kp LC(A)  &kp LC(S)  &kp LC(D)  &kp LC(F)  &kp LC(G)  &trans                &kp LC(H)          &kp LC(J)  &kp LC(K)  &kp LC(L)  &kp LC(SEMICOLON)  &kp LC(APOS)
&kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(B)  &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &kp N      &kp M      &kp COMMA  &kp DOT            &kp SLASH
&kp LC(Q)  &kp LC(W)  &kp LC(E)  &kp LC(R)  &kp LC(T)  &kp LC(Y)             &kp LC(U)          &kp LC(I)                                           &kp LC(O)
            >;
        };
    };
};
